.App {
  margin-top: 80px;
  position: static;
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.row d-flex justify-content-center {
  margin-top: 40px;
}
.card {
  color: black;
  z-index: 1;
  margin: 30px;
}
p.card-text {
  font-size: 20px;
}
.footer-p {
  font-size: 18px;
}
.ViewKelompok {
  margin-bottom: 30px;
}
.cardKelompok {
  padding: 10px;
}
.klik {
  padding-bottom: 18px;
}
